.pagination {
    display: flex;
    position: fixed;
    top: 9%;
    left: 96%;
    @include tablets () {
        display: none;
    }
    &__item {
        padding-bottom: 15px;
    }
    &__item:after{
        display: block;
        content: '';
        @include circle(5px,#fff); 
    }
}