.reviews {
    height: 100vh;
    &__list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;   
        overflow: hidden;
    }
    &__item {
        width: 25%;
        height: 50%;
        display: flex;
        align-content: stretch;
        @include tablets () {
            width: 50%;
            height: 25%;
        }
        @include phones () {
            width: 50%;
            height: 25%;
        }
        &:hover {
            background-color: #444646;
            
     }
    }
    &__container {
        display: flex;
        position: relative;
        width: 100%;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        padding: rem(40px);
        opacity: 0;
        @include tablets () {
            padding: rem(10px);
        }
        @include phones () {
            padding: 0;
           top: 50%;
           left: 50%;
           transform: translate(-50%,-50%);
           
        }
    }
    &__logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
         
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%; 
        filter: grayscale(100%)
    }
    &__title {
        font-family: 'Gagalin';
        font-size: rem(14.1px);
        line-height: 2;
        color: #ffffff;
        @include phones () {
            font-size: rem(24px);
            margin-bottom: 10px;
        }
       
    }
    &__text {
        font-family: 'Ubuntu';
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        color: #ffffff;
        padding-bottom: rem(17px);
        padding-top: rem(30px);
        @include phones () {
            display: none;
        }
    }
}
.order__link--reviews {
    
    max-width: rem(98px);
    background-color: #2f3234;
    padding-bottom: rem(10px);

}
.reviews__container:hover .reviews__content {
    opacity: 1;
    transition:1s;
}
.reviews__container:hover .reviews__img {
    filter: brightness(32%);
}