.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 275px;
  height: 325px; }
  .reviews__item:hover {
    opacity: 0.8; }
    .reviews__item:hover:after {
      content: ''; }

.reviews__logo {
  width: 275px;
  height: 325px; }
